
@font-face {
    font-family:"terhahFont";
    src: url("/assets/fonts/terhahFontRegular.ttf") /* TTF file for CSS3 browsers */
}


body{
	font-family: $fontTypeStandard;
	color: $fontColor;
}
body.terhah{
	font-family:'terhahFont';
}
.container{
	@include container();
}
.header{
	padding:20px 0px;
	@include span(12 nest);
}
.main-body{
	@include span(12 nest);
	.sidebar{
		@include span(3 first);
		
	}
	.main-content{
		@include span(9 last);
		.inner-content{
			//works page
			font-size: 12px;
			figure{
				width: 100% !important;
				height: auto;
				margin: 0px;
				padding-bottom:50px;
				img{
					width: 100%;
					height: auto;
				}
				figcaption{
					font-style: italic;
				}
			}
			img{
				width: 100%;
				height: auto;
			}
			iframe{
				width: 100% !important;
				height: 400px;
			}
			//end works page
			@include span(8 of 12);
			@include push(2);
			text-align: justify;
			.list-exhibition{
				.solo-exhibition,.group-exhibition{
					h2.title{
					font-size: 14px;
					}
					table.exhibition{
						width: 100%;
						font-size: 12px;
						tr{
							text-decoration: none;
							td{
								//padding:5px;
								vertical-align: top;
							}
							td.year{
								width: 76px !important;
							}
							td.title{
								width: 200px !important;
								text-align: left;
							}
							td.place-information{
							}
						}
					}
				}
			}
		}
	}
}
.footer{
	
}
