
@font-face {
    font-family:"terhahFont";
    src: url("/assets/fonts/terhahFontRegular.ttf") /* TTF file for CSS3 browsers */
}


body{
	font-family: $fontTypeStandard;
	color: $fontColor;
}
body.terhah{
	font-family:'terhahFont';
}
/* line 15, ../../../resources/assets/sass/syfg/_grids.scss */
a {
  color: #808080;
  text-decoration: none; }

/* line 19, ../../../resources/assets/sass/syfg/_grids.scss */
a:hover {
  color: $hoverLinkColor; }
.container{
	@include container();
}
.header{
	padding:30px 0px;
	@include span(12 nest);
}
.main-body{
	@include span(12 nest);
	.sidebar{

		@include span(12);
		@include susy-breakpoint($tablet){
		@include span(3 first);

		}
	}
	.main-content{
		@include span(12);
		@include susy-breakpoint($tablet){
			@include span(9 last);			
		}

		margin-bottom:2em;
		.inner-content{
			//padding-top:50px;
			@include susy-breakpoint($tablet){
				padding-top:0;
			}
			//works page
			font-size: 12px;
			figure{
				width: 100% !important;
				height: auto;
				margin: 0px;
				padding-bottom:50px;
				img{
					width: 100%;
					height: auto;
				}
				figcaption{
					font-style: italic;
					text-align: center;
					@include susy-breakpoint($tablet){
						text-align: left;
					}
				}
			}
			img{
				width: 100%;
				height: auto;
			}
			iframe{
				width: 100% !important;
				height: 400px;
			}

			//end works page
			@include span(8 of 12);
			@include push(2);
			text-align: justify;
			.post-content{
				text-align: justify;
			}
			ul.publication-list{
				margin: 0px;
				padding:0px;
				li{
					list-style: none;
					padding-bottom:2.5em;
				}
			}
			.post-contact-content{
				p{
					margin:0px 10px;
				}
			}
			.list-exhibition{
				.solo-exhibition,.group-exhibition{
					h2.title{
					font-size: 14px;
					}
					ul.list-solo,ul.list-group{
						padding: 0px;
        				margin: 0px;
        				li{
        					list-style: none;
          padding: 0px;
        				}
        				li.year{
        					font-size: 14;
          font-weight: bold;
        				}
					}
				}
			}
			table.contact-table{
				vertical-align: top;
				.addr{
					width: 150px;
				}
				.colon{
					width: 10px;
				}
			}
		}

	}
}
.vat{
	vertical-align: top;
}
.footer{
	
}
